EXPO_PUBLIC_API_MODE=real
EXPO_PUBLIC_API_BASE_URL=https://iut-smart-cafeteria.linkpc.net
EXPO_PUBLIC_API_PREFIX=/api
EXPO_PUBLIC_API_MOCK_SCENARIO=success
EXPO_PUBLIC_API_MOCK_DELAY_MS=350
EXPO_PUBLIC_NOTIFICATION_WS_URL=wss://iut-smart-cafeteria.linkpc.net/ws
